<% row_length = 10 %>

<h3>
  Pictures:
</h3>

<div id="user_images" >

 <table>
    <% @pictures.each_with_index do |p, ndx| %>
      <% if ((ndx%row_length) == 0) && (ndx!=0) %>
        <tr>
      <% end %>
        <td>
          <%= link_to(
            image_tag(p.image_url, :width => 72, :height => 72),
            p.image_url
          ) if p.image?
          %>
        </td>
      <% if ((ndx%row_length) == 0) && (ndx!=0) %>
        </tr>
      <% end %>  
    <% end %>
  </table>
</div>
